<nav class="header container d-flex justify-content-between align-items-center">
  <div class="logo">
    <a href="./" class="hvr-bounce-in py-md-6"><img src="./assets/images/logo.svg"  alt="logo pc" class="logo img-pc d-none d-md-inline-block"></a>
    <a href="./" class="hvr-bounce-in py-6 py-md-0"><img src="./assets/images/logo2.svg" alt="logo mobile" class="logo img-mobile d-md-none"></a>
  </div>

  <div>
    <div class="navbar py-0 d-none d-md-block">
      <ul class="d-flex align-items-center">
        <li>
          <a href="./" class="hvr-bounce-in text-light py-8 px-6 fz-7">首頁</a>
        </li>
        <li>
          <a href="./course.html" class="hvr-bounce-in text-light py-8 px-6 fz-7">課程介紹</a>
        </li>
        <li>
          <a href="#myLogin" role="button" data-bs-toggle="modal" class="hvr-bounce-in text-light py-8 px-6 fz-7"><span class="material-icons align-bottom mr-2">account_circle</span>登入</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="burgar_btn d-block d-md-none" role="button" href="#collapseMenu" data-bs-toggle="collapse"><i class="fas fa-bars"></i></a>
    </div>
  </div>
</nav>
