<nav class="header container d-flex justify-content-between align-items-center">
  <!-- 會建議把 logo 放 <h1> 標籤，因為一個網站只能有也必須要有一個 <h1> ，而課程介紹便沒有適合放置 <h1> 的地方，所以建議在 logo 的地方放 <h1> 。 -->
  <h1 class="logo">
    <a href="./" class="hvr-bounce-in py-md-6"><img src="./assets/images/logo.svg"  alt="logo pc" class="logo img-pc d-none d-md-inline-block"></a>
    <a href="./" class="hvr-bounce-in py-6 py-md-0"><img src="./assets/images/logo2.svg" alt="logo mobile" class="logo img-mobile d-md-none"></a>
  </h1>

  <div>
    <div class="navbar py-0 d-none d-md-block">
      <ul class="d-flex align-items-center">
        <li>
          <a href="./" class="shake-slow text-light py-8 px-6 fz-7">首頁</a>
        </li>
        <li>
          <a href="./course.html" class="shake-slow text-light py-8 px-6 fz-7">課程介紹</a>
        </li>
        <li>
          <a href="#myLogin" role="button" data-bs-toggle="modal" class="shake-slow text-light py-8 px-6 fz-7"><span class="material-icons align-bottom mr-2">account_circle</span>登入</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="burgar_btn d-block d-md-none" role="button" href="#collapseMenu" data-bs-toggle="collapse"><span class="material-icons">drag_handle</span></a>
    </div>
  </div>
</nav>
