.img-pc {
  width: 175px;
  height: 42px;
}
.img-mobile {
  width: 24px;
  height: 24px;
}

.burgar_btn {
  width: 24px;
  height: 24px;
}

header {
  background: /* gradient can be an image */
  linear-gradient(
    to right, 
    $primary, 50%,
    $secondary 50%
  )
  bottom
  no-repeat; 
  background-size:100% 2px;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    z-index: 1;
  }
  .open.navbar {
    /* 偵測到 click 事件才會顯示高度 */
    height: auto;
  }
  .dropdown-toggle::after {
    border: none;
  }
  .dropdown-menu {
    background: #2D2D2D;
    .dropdown-item {
      background: #2D2D2D;
      color: #FFFFFF;
      &:hover {
        color: $primary;
      }
    }
  }
}

.close {
  right: 24px;
  top: 30px;
}
input {
  color: $light;
}
.social-icon {
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}
