<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <header class="bg-aztec sticky-top">
      <%- include('./partials/header'); %>
    </header>
    <div class="bg-aztec collapse stickyHeader" id="collapseMenu">
      <ul class="d-flex flex-column align-items-center bg-aztec py-3">
        <li><a class="py-3 px-20 text-light" href="./">首頁</a></li>
        <li><a class="py-3 px-20 text-light" href="./course.html">課程介紹</a></li>
        <li><a class="py-3 px-20 text-light" href="#myLogin" role="button" data-bs-toggle="modal"><span class="material-icons align-bottom mr-2">account_circle</span>登入</a></li>
      </ul>
    </div>

    <%- contents %>

    <footer class="bg-acadia">
      <%- include('./partials/footer'); %>
    </footer>

    <div class="modal fade" id="myLogin" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-aztec text-center">
          <div class="d-flex justify-content-center position-relative p-6 pb-8">
            <h5 class="modal-title fz-4">登入</h5>
            <button type="button" class="btn-close btn-close-white close position-absolute" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body mx-auto">
            <form class="form text-start mb-12">
              <label for="myMail">信箱</label><br>
              <input class="mt-2 mb-6 fz-8 py-2 px-4 bg-transparent border border-light radius-4 w-100" id="myMail" name="myMail" type="email" placeholder="請輸入信箱"><br>

              <label for="myPwd">密碼</label><br>
              <input class="mt-2 mb-6 fz-8 py-2 px-4 bg-transparent border border-light radius-4 w-100" id="myPwd" name="myPwd" type="password" placeholder="請輸入密碼"><br>

              <button type="submit" class="bg-gradient w-100 py-2 text-light radius-8 border-0 fz-7">登入</button>
            </form>

            <div class="position-relative pb-4">
              <hr class="text-silver">
              <div class="px-4 bg-aztec text-silver position-absolute top-0 left-50 translate-middle word-nowrap">其他登入方式</div>
            </div>

            <a role="button" href="#" class="btn btn-outline-light mb-6 py-2 px-8 w-100 radius-4 position-relative"><img src="./assets/images/icon_fb.svg" class="icon-size-24 position-absolute social-icon" alt="fb-icon">Facebook 登入</a>

            <a role="button" href="#" class="btn btn-outline-light mb-12 py-2 px-8 w-100 radius-4 position-relative"><img src="./assets/images/icon_google.svg" class="icon-size-24 position-absolute social-icon" alt="fb-icon">Google 登入</a>

          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="./assets/js/all.js"></script>
  </body>

</html>