
// $blur100:       rgba(0, 0, 0, 0.07); //00000012
// $blur200:       rgba(0, 0, 0, 0.1); //00000019
// $blur300:       rgba(0, 0, 0, 0.2); //00000034
// $blur400:       rgba(0, 0, 0, 0.35); //00000058
// $blur500:       rgba(73, 71, 85, 0.08); //49475514

// $acadia:        #1A1A1A;
// $asphalt:       #1C1C1C;
// $mine-shaft:    #202020;
// $aztec:         #2D2D2D;
// $oil:           #2A1E17;
// $silver:        #C1C1C1;
// $celeste:       #CDD0C4;
// $chino:         #909090;
// $bitter:        #7C7E77;
// $gun-powder:    #494755;
// $lucky-point:   #221660;

// $primary:       #62DB54;
// $secondary:     #09ACF5;
// $light:         #ffffff;
// $dark:          #000000;

$custom-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark,

  "acadia":     $acadia,
  "asphalt":    $asphalt,
  "mine-shaft": $mine-shaft,
  "aztec":      $aztec,
  "oil":        $oil,
  "silver":     $silver,
  "celeste":    $celeste,
  "chino":      $chino,
  "bitter":     $bitter,
  "gun-powder": $gun-powder,
  "lucky-point":$lucky-point,
  'blur100':    $blur100,
  'blur200':    $blur200,
  'blur300':    $blur300,
  'blur400':    $blur400,
  'blur500':    $blur500,
  'blur600':    $blur600
);
$theme-colors: map-merge($theme-colors, $custom-colors);

//spacer
$custom-spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  17: $spacer * 4.25,
  18: $spacer * 4.5,
  19: $spacer * 4.75,
  20: $spacer * 5,
  21: $spacer * 5.25,
  22: $spacer * 5.5,
  23: $spacer * 5.75,
  24: $spacer * 6,
  25: $spacer * 6.25,
  26: $spacer * 6.5,
  27: $spacer * 6.75,
  28: $spacer * 7,
  29: $spacer * 7.25,
  30: $spacer * 7.5,
  31: $spacer * 7.75,
  32: $spacer * 8,
  33: $spacer * 8.25,
  34: $spacer * 8.5,
  35: $spacer * 8.75,
  36: $spacer * 9,
) !default;

$spacers: map-merge($spacers , $custom-spacers);

$custom-font-sizes: (
  1: $h1-fz, //48px
  2: $h2-fz, //32px
  3: $h3-fz, //28px
  4: $h4-fz, //24px
  5: $h5-fz, //22px
  6: $h6-fz, //20px
  7: $h7-fz, //18px
  8: $h8-fz, //16px
  9: $h9-fz, //14px
  10: $h10-fz //12px
) !default;

$font-sizes: map-merge($font-sizes , $custom-font-sizes);

@mixin pc {
  @media(min-width: map-get($grid-breakpoints, "lg")){
      @content
  }
};
@mixin pad {
  @media(min-width: map-get($grid-breakpoints, "md")){
      @content
  }
};

$gradient: linear-gradient(104deg, $secondary, $primary);

.bg-gradient {
  background: $gradient;
}
.text-gradient {
  // bootstrap/scss/mixins/_gradients.scss
  @include gradient-directional($secondary, $primary, 180deg);
  background-clip: text;
  -webkit-background-clip: text; /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
  color: transparent;
}

$font-family-base: $font-noto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-code: $font-azeret, monospace;

.font-azeret {
  font-family: $font-azeret;
}