$utilities: map-merge(
  $utilities, (
    "start": map-merge(
      map-get( $utilities, "start"),
      (class: left)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "end": map-merge(
      map-get( $utilities, "end"),
      (class: right)
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "border-end": map-merge(
      map-get( $utilities, "border-end"),
      (class: border-right)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "border-start": map-merge(
      map-get( $utilities, "border-start"),
      (class: border-left)
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "margin-start": map-merge(
      map-get( $utilities, "margin-start"),
      (class: ml)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "margin-end": map-merge(
      map-get( $utilities, "margin-end"),
      (class: mr)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "negative-margin-start": map-merge(
      map-get( $utilities, "negative-margin-start"),
      (class: ml)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "negative-margin-end": map-merge(
      map-get( $utilities, "negative-margin-end"),
      (class: mr)
    )
  )
);

$utilities: map-merge(
  $utilities, (
    "padding-start": map-merge(
      map-get( $utilities, "padding-start"),
      (class: pl)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "padding-end": map-merge(
      map-get( $utilities, "padding-end"),
      (class: pr)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get( $utilities, "font-size"),
      (class: fz)
    )
  )
);
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true),
    ),
  )
);
$utilities: map-merge(
  $utilities,
  (
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "line-height"), "values"),
          (
            40: $line-height-40px
          )
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
            1: 4px,
            2: 8px,
            3: 12px,
            4: 16px,
            5: 20px,
            6: 24px
          )
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "line-height": map-merge(
      map-get($utilities, "line-height"),
      ( responsive: true),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "position": map-merge(
      map-get($utilities, "position"),
      ( responsive: true),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "gradient": map-merge(
      map-get($utilities, "gradient"),
      (
        values: map-merge(
          map-get(map-get($utilities, "gradient"), "values"),
          (
            gradient: var($gradient-h)
          )
        ),
      ),
    ),
  )
);

// 特殊line-height
.lh-10 {
  line-height: 10px;
}
.lh-19 {
  line-height: 19px;
}
.lh-20 {
  line-height: 20px;
}
.lh-21 {
  line-height: 21px;
}
.lh-28 {
  line-height: 28px;
}
.lh-37 {
  line-height: 37px;
}
.lh-40 {
  line-height: 40px;
}
.lh-56 {
  line-height: 56px;
}

