// colors:
$blur100:       rgba(0, 0, 0, 0.07); //00000012
$blur200:       rgba(0, 0, 0, 0.1); //00000019
$blur300:       rgba(0, 0, 0, 0.2); //00000034
$blur400:       rgba(0, 0, 0, 0.35); //00000058
$blur500:       rgba(73, 71, 85, 0.08); //49475514
$blur600:       rgba(0, 0, 0, 0.18); //0000002E

$acadia:        #1A1A1A;
$asphalt:       #1C1C1C;
$mine-shaft:    #202020;
$aztec:         #2D2D2D;
$oil:           #2A1E17;
$silver:        #C1C1C1;
$celeste:       #CDD0C4;
$chino:         #909090;
$bitter:        #7C7E77;
$gun-powder:    #494755;
$lucky-point:   #221660;

$primary:       #62DB54;
$secondary:     #09ACF5;
$light:         #ffffff;
$dark:          #000000;

$enable-important-utilities:  false !default;
$enable-negative-margins:     true !default;

$gradient-h: linear-gradient(104deg, rgba($secondary, 1), rgba($primary, 1));

$spacer: 1rem !default;

$body-color: $light;
$body-text-align: center;

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$container-padding-x: $grid-gutter-width * .5 !default;

$font-size-base:              1rem !default;
$h1-fz:                $font-size-base * 3 !default; //48px
$h2-fz:                $font-size-base * 2; //32px
$h3-fz:                $font-size-base * 1.75 !default; //28px
$h4-fz:                $font-size-base * 1.5 !default; //24px
$h5-fz:                $font-size-base * 1.375 !default; //22px
$h6-fz:                $font-size-base * 1.25 !default; //20px
$h7-fz:                $font-size-base * 1.125 !default; //18px
$h8-fz:                $font-size-base !default; //16px
$h9-fz:                $font-size-base * .875 !default; //14px
$h10-fz:               $font-size-base * .75 !default; //12px

$font-noto : 'Noto Sans TC';
$font-azeret: 'Azeret Mono';

$mark-padding:                none !default;

$line-height-40px: 40px;

$card-height: 100%;

$progress-bg: $silver;
$card-bg: $aztec;
$card-color: $light;

$input-padding-y: 8px;
$input-padding-x: 16px;
$input-font-size: 16px;
$input-bg: $asphalt;
$input-border-color: $light !default;
$input-placeholder-color: $silver !default;